body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.wallet-container {
    position: absolute;
    top: 0;
    left: 250px;
    width: 700px;
    height: 800px;
    border: 1px solid black;
    border-radius: 12px;
    margin-top: 15px;
    padding: 10px;
}

h1 {
    text-align: center;
}

#balance {
    font-size: 1.5em;
    color: #4CAF50;
}

.transaction-form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, .wallet-btn {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.wallet-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

@media (max-width: 600px) {
    .wallet-container {
        position: absolute;
        top: 70px;
        left: 10px;
        width: 330px;
        height: 800px;
        border: 1px solid black;
        border-radius: 12px;
        margin-top: 15px;
        padding: 10px;
    }
}